.benefits {
  background: #222224;

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    width: 300px;
    margin: 103px 0 103px 0;
    text-align: center;
    color: #fbfbfb;
    font-weight: lighter;

    & img {
      height: 45px;
    }

    & h4 {
      font-size: 20px;
      margin: 19px 0 16px 0;
    }

    & p {
      font-size: 14px;
      margin-top: 19px;
    }
  }
}
