.featured {
  &__text {
    text-align: center;
    margin: 96px 0 48px 0;

    & h2 {
      color: #000;
      font-size: 30px;
      font-weight: lighter;
    }

    & p {
      color: #9f9f9f;
      font-size: 14px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    margin: 48px 0 110px 0;

    & a {
      padding: 14px 38px;
      text-decoration: none;
      color: $mainColor;
      border: 1px solid #ff6a6a;

      &:hover {
        color: #fff;
        background-color: #f16d7f;
      }
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & .card {
    width: 360px;
    height: 581px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    & .img {
      & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 420px;
        background-color: rgba(58, 56, 56, 0.86);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;

        & button {
          background-color: transparent;
          border: 1px solid #ffffff;
          padding: 10px 20px 10px 10px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          align-items: center;
          display: flex;
          cursor: pointer;
        }

        & span {
          margin-left: 10px;
        }
      }
    }

    & .text {
      padding: 25px 16px 20px 16px;

      & a {
        text-decoration: none;
        & h3 {
          font-size: 13px;
          color: #000;
        }
      }

      & p {
        margin-top: 13px;
        color: #5d5d5d;
        font-weight: lighter;
      }

      & .price {
        font-size: 16px;
        color: $mainColor;
        margin-top: 18px;
      }
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
