.header {
  padding: 19px 0;
  background: #222222;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin-right: 41px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 33px;
    }
    &.cart {
      position: relative;
      & span {
        position: absolute;
        display: flex;

        right: -10px;
        top: -23px;
        align-items: center;
        justify-content: center;
        color: #fff;

        width: 19px;
        height: 19px;
        background: $mainColor;
        border-radius: 50%;
      }
    }
  }
}
