.intro {
  height: 764px;
  background-color: #f1e4e6;
  margin: 0 0 65px;

  &__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    background-image: url("../img/intro__bg.png");
    background-repeat: no-repeat;
    background-position: -208px bottom;
  }

  &__text {
    max-width: 420px;
    border-left: 12px solid #f16d7f;
    padding-left: 20px;
    margin-right: 100px;
    & h1 {
      font-weight: 900;
      font-size: 48px;
    }

    & p {
      font-size: 32px;
      font-weight: normal;
      & span {
        color: $mainColor;
      }
    }
  }
}
